.tw-theme-ctn .radio-input {
  display: none;
}
.tw-theme-ctn .radio-btn {
  width: 55px;
  height: 55px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}
.tw-theme-ctn .radio-btn:focus {
  outline: 0;
}
.tw-theme-ctn.theme1 .radio-btn {
  background: #2196f3;
  background: var(--app-theme1-blue);
}
.tw-theme-ctn.theme2 .radio-btn {
  background: #673bb7;
  background: var(--app-theme2-purple);
}
.tw-theme-ctn.theme3 .radio-btn {
  background: #37474f;
  background: var(--app-black);
}
.tw-theme-ctn.theme1 .radio-btn:hover {
  background: #0069c0;
  background: var(--app-theme1-dark-blue);
}
.tw-theme-ctn.theme2 .radio-btn:hover {
  background: #320b86;
  background: var(--app-theme2-dark-purple);
}
.tw-theme-ctn.theme3 .radio-btn:hover {
  background: #263238;
  background: var(--app-theme3-dark-black);
}
.tw-theme-ctn.theme1 .radio-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(33,150,243,.25);
}
.tw-theme-ctn.theme2 .radio-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(103,58,183,.25);
}
.tw-theme-ctn.theme3 .radio-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(55,71,79,.25);
}
.tw-theme-ctn.theme1.active .radio-btn::after,
.tw-theme-ctn.theme2.active .radio-btn::after,
.tw-theme-ctn.theme3.active .radio-btn::after {
  content: '\002713';
  font-size: 3rem;
  position: absolute;
  top: 0;
  line-height: initial;
  left: 15%;
  color: #ffffff;
  color: var(--app-white);
}
