<div class="incdec-ctn form-row">
  <div class="form-group">
    <label class="col-form-label">{{label}}</label>
    <div class="input-group incdec-group">
      <div class="input-group-prepend">
        <button type="button" class="form-control btn btn-lg btn-primary" (click)="onDecreaseValueEvent()" [disabled]="disableDecrementBtn">-</button>
      </div>
      <input type="number" class="form-control" [value]="value" [disabled]="disableInput"/>
      <div class="input-group-append">
        <button type="button" class="form-control btn btn-lg btn-primary" (click)="onIncreaseValueEvent()" [disabled]="disableIncrementBtn">+</button>
      </div>
    </div>
  </div>
</div>
