:host {
  display: inherit;
}

.tw-posts-drag-drop--ctn-list--item {
  margin: 0;
}

.tw-posts-drag-drop--ctn-list--item-enabled {
  border-radius: 5px;
  border: 1px dashed;
}

.tw-posts-drag-drop--ctn-list--item-disabled {
  border: none;
  border-radius: 0;
}
