<div class="col-12" [ngClass]="{'tw-card-ctn': hasLoadedContent}">
    <div class="row tw-posts-drag-drop--ctn-list"
      cdkDropList
      [cdkDropListDisabled]="!enableOrderColumn"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="onDropTwitterUsersPosts($event)">
      <div *ngIf="firstUserPosts !== null" cdkDrag [ngClass]="dragDropListCSS" class="col-12 col-lg-4 tw-posts-drag-drop--ctn-list--item">
        <h3>{{firstUserPosts.user}}</h3>
        <app-tw-card *ngFor="let post of firstUserPosts.posts; trackBy: trackByPosts; let i = index;" [tweet]="post" [index]="i"></app-tw-card>
      </div>
      <div *ngIf="secondUserPosts !== null" cdkDrag [ngClass]="dragDropListCSS" class="col-12 col-lg-4 tw-posts-drag-drop--ctn-list--item">
        <h3>{{secondUserPosts.user}}</h3>
        <app-tw-card *ngFor="let post of secondUserPosts.posts; trackBy: trackByPosts; let i = index;" [tweet]="post" [index]="i"></app-tw-card>
      </div>
      <div *ngIf="thirdUserPosts !== null" cdkDrag [ngClass]="dragDropListCSS" class="col-12 col-lg-4 tw-posts-drag-drop--ctn-list--item">
        <h3>{{thirdUserPosts.user}}</h3>
        <app-tw-card *ngFor="let post of thirdUserPosts.posts; trackBy: trackByPosts; let i = index;" [tweet]="post" [index]="i"></app-tw-card>
      </div>
  </div>
</div>
