:host {
  display: initial;
  width: 100%;
  height: 10vh;
}

.navbar-expand-lg .navbar-toggler {
  margin: 10px 0;
}

.navbar-expand-lg .navbar-collapse {
  position: relative;
}

.navbar-expand-lg .navbar-collapse > form .dropdown-menu {
  left: auto;
  display: initial;
  width: 100%;
  position: relative;
  border: none;
  text-align: center;
  background: transparent;
}

.navbar-expand-lg .navbar-collapse > form .dropdown-menu .dropdown-item.order-column-item {
  display: none;
}

.navbar-expand-lg .navbar-collapse > form .dropdown-toggle {
  border: none;
  background: transparent;
  text-align: center;
  width: 100%;
}

.navbar-expand-lg .navbar-collapse > form .dropdown-menu .dropdown-item.active,
.navbar-expand-lg .navbar-collapse > form .dropdown-menu .dropdown-item:active {
  background: transparent;
  color: #212529;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse > form {
    justify-content: flex-end;
    width: 100%;
  }
  .navbar-expand-lg .navbar-collapse > form .dropdown-toggle {
    border: 1px solid #ced4da;
    background: #ffffff;
    text-align: left;
    width: auto;
  }
  .navbar-expand-lg .navbar-collapse > form .dropdown-menu {
    position: absolute;
    width: auto;
    border: 1px solid #ced4da;
    background: #ffffff;
    text-align: left;
  }
  .navbar-expand-lg .navbar-collapse > form .dropdown-menu .dropdown-item.order-column-item {
    display: block;
  }
  .navbar-expand-lg .navbar-collapse > form .dropdown-menu .dropdown-item.order-column-item app-tw-switch-btn {
    display: inherit;
    margin: -0.25rem -1.5rem;
  }
  .navbar-expand-lg .navbar-collapse > form .dropdown-menu .dropdown-item.order-column-item p {
    font-size: 0.875rem;
  }
}
