<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://joel-rojas.github.io/">Twitter Posts App</a>
      <button (click)="toggleNavbarEvent()" class="navbar-toggler" type="button" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="menuNavbarCSSClasses" class="navbar-collapse" id="menuNavbar">
        <form class="form-inline">
          <button type="button" (click)="openEditLayoutEvent()" [disabled]="isEditLayoutBtnDisabled" class="nav-link dropdown-toggle form-control" id="editLayoutLink" role="button" aria-haspopup="true" aria-expanded="false">
            Edit Layout
          </button>
          <div class="dropdown-menu" aria-labelledby="editLayoutLink" >
            <div class="dropdown-item order-column-item">
              <app-tw-switch-btn
                [className]="switchCls"
                [label]="switchLabel"
                [labelPosition]="switchLabelPosition"
                [checked]="isButtonSwitched"
                [description]="switchDescription"
                (switchBtn)="onSwitchBtnEvent($event)">
              </app-tw-switch-btn>
            </div>
            <div class="dropdown-item">
              <h6><strong>Increase/Decrease Tweets</strong></h6>
              <app-tw-incdec-cards
                [value]="firstTwColumnQty"
                [label]="firstTwColumnLbl"
                (decreaseValue)="onDecreaseFirstValueEvent($event)"
                (increaseValue)="onIncreaseFirstValueEvent($event)">
              </app-tw-incdec-cards>
              <app-tw-incdec-cards
                [value]="secondTwColumnQty"
                [label]="secondTwColumnLbl"
                (decreaseValue)="onDecreaseSecondValueEvent($event)"
                (increaseValue)="onIncreaseSecondValueEvent($event)">
              </app-tw-incdec-cards>
              <app-tw-incdec-cards
                [value]="thirdTwColumnQty"
                [label]="thirdTwColumnLbl"
                (decreaseValue)="onDecreaseThirdValueEvent($event)"
                (increaseValue)="onIncreaseThirdValueEvent($event)">
              </app-tw-incdec-cards>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
