/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
}

.dropdown-item.order-column-item .switch .switch-btn-ctn .switch-btn.switch-btn-on {
  background: rgba(0, 123, 255, 1);
}
